You could use this notebook to do a basic exploration of the data
Maybe you would like to have one notebook named template.ipynb, as suggest [repoducible-model](https://github.com/cmawer/reproducible-model)

# Example for load data from Big Query (And how use the whole package within notebooks)

In [1]:
# Use this initial code to work in the notebook as if it were a module, that 
# is, to be able to export classes and functions from other subpackages.

import pyprojroot
import sys

package_path = pyprojroot.here().__str__()
if package_path not in sys.path:
    sys.path.append(package_path)

In [2]:
from utils import LoadData, AbsPaths

# Get Absolute Pahts fo files

In [3]:
AbsPaths().get_abs_path_file('dummy_data1.xlsx')

'h:\\My Drive\\UN_Analytics_Specialization\\productos-datos\\project\\predict-roland-garros-positions\\data\\dummy_data1.xlsx'

In [4]:
AbsPaths().get_abs_path_file('generate_features.py')

'h:\\My Drive\\UN_Analytics_Specialization\\productos-datos\\project\\predict-roland-garros-positions\\predict-roland-garros-positions\\generate_features.py'

**Note:**
If you have several folders or files with the same name, the method will return a list of the possible options for you to select the path of your interest

In [5]:
AbsPaths().get_abs_path_file('dummy_data3.xlsx')

['h:\\My Drive\\UN_Analytics_Specialization\\productos-datos\\project\\predict-roland-garros-positions\\data\\external\\dummy_data3.xlsx',
 'h:\\My Drive\\UN_Analytics_Specialization\\productos-datos\\project\\predict-roland-garros-positions\\data\\interim\\dummy_data3.xlsx']

In [6]:
AbsPaths().get_abs_path_folder('sql')

'h:\\My Drive\\UN_Analytics_Specialization\\productos-datos\\project\\predict-roland-garros-positions\\predict-roland-garros-positions\\sql\\'

# Load data within repository

Upload csv or excel files using:
1. An absolute or relative path
2. Supplying the type of subfolder in data containing the file + the file name, 
3. Using the file name only

In [7]:
# Option 1
path='H:/My Drive/UN_Analytics_Specialization/productos-datos/project/predict-roland-garros-positions/data/dummy_data1.xlsx'
LoadData().from_excel(file_path=path)

   cod  amount
0    1     100
1    2     200
2    3     300

In [8]:
# Option 2
LoadData().from_excel(data_type='raw', file_name='dummy_data2.xlsx')

   cod  amount
0    1     100
1    2     200
2    3     300

In [9]:
# Option 3
LoadData().from_excel(file_name='dummy_data1.xlsx')

   cod  amount
0    1     100
1    2     200
2    3     300

In [10]:
LoadData().from_csv(file_name='dummy_data.csv')

   cod   price
0    1     100
1    2     200
2    3     300