In [ ]:


aÃ±o, torneo, nombre, edad,altura, ranking_ATP_inicial, minutos_jugados_acumulado_hist,
pj_acum_historicos, pg_acum_historico, pp_acum_historico, titulos_ganados_acum, ultima_modificacion, posicion_final, score


2014,  roland_garros, rafa, 7, 1, 7, 0, sum(minutos), fijo, 6, clay, 1, 100, 2





predecir 2015

1 -> 32/32=1
2 -> 31/32=0.99

In [1]:
# Use this initial code to work in the notebook as if it were a module, that 
# is, to be able to export classes and functions from other subpackages.

import pyprojroot
import sys

package_path = pyprojroot.here().__str__()
if package_path not in sys.path:
    sys.path.append(package_path)

In [3]:
clean_data = 'atp_matches_historic.csv'

In [16]:
from utils import LoadData
import pandas as pd

In [234]:
df = LoadData().from_csv(file_name=clean_data)
df.head(2)

  tourney_id tourney_name surface  ...  l_SvGms l_bpSaved  l_bpFaced
0   2000-560      US Open    Hard  ...     12.0       5.0       12.0
1   2000-560      US Open    Hard  ...     13.0       7.0       12.0

[2 rows x 49 columns]

In [235]:
df.tourney_date = pd.to_datetime(df.tourney_date.astype(int), format="%Y%m%d")
df.head(2)

  tourney_id tourney_name surface  ...  l_SvGms l_bpSaved l_bpFaced
0   2000-560      US Open    Hard  ...     12.0       5.0      12.0
1   2000-560      US Open    Hard  ...     13.0       7.0      12.0

[2 rows x 49 columns]

In [253]:
sub_df = df[(df.tourney_name == 'US Open') & (df.tourney_date.dt.year == 2015)].copy()
sub_df.shape

(127, 49)

In [35]:
sub_df.head()

     tourney_id tourney_name surface  ...  l_SvGms l_bpSaved l_bpFaced
7747   2015-560      US Open    Hard  ...     10.0       3.0      10.0
7748   2015-560      US Open    Hard  ...     22.0      19.0      25.0
7749   2015-560      US Open    Hard  ...     19.0       7.0      15.0
7750   2015-560      US Open    Hard  ...     14.0       5.0      13.0
7751   2015-560      US Open    Hard  ...     14.0       2.0       5.0

[5 rows x 49 columns]

In [39]:
sub_df['round'].unique()

array(['R128', 'R64', 'R32', 'R16', 'QF', 'SF', 'F'], dtype=object)

In [41]:
sub_qf = sub_df[sub_df['round'] == 'QF'].copy()

In [66]:
sub_df[sub_df.winner_name == 'Novak Djokovic']

     tourney_id tourney_name surface  ...  l_SvGms l_bpSaved l_bpFaced
7747   2015-560      US Open    Hard  ...     10.0       3.0      10.0
7811   2015-560      US Open    Hard  ...     12.0       5.0      10.0
7843   2015-560      US Open    Hard  ...     16.0       7.0      12.0
7859   2015-560      US Open    Hard  ...     19.0       7.0      14.0
7867   2015-560      US Open    Hard  ...     18.0       5.0       8.0
7871   2015-560      US Open    Hard  ...     10.0       6.0      14.0
7873   2015-560      US Open    Hard  ...     21.0       7.0      13.0

[7 rows x 49 columns]

In [68]:
cols = ['match_num', 'winner_id',
       'winner_name','winner_ht', 'winner_age',
       'winner_rank', 'loser_id','loser_name', 'loser_ht',
       'loser_age', 'loser_rank', 'minutes']

In [69]:
sub_df_sub = sub_df[cols]

In [74]:
sub_df_sub[sub_df_sub.match_num == 1]

      match_num  winner_id     winner_name  ...  loser_age  loser_rank  minutes
7747        1.0   104925.0  Novak Djokovic  ...   27.26078        91.0      NaN

[1 rows x 12 columns]

In [76]:
pd.melt(sub_df_sub[sub_df_sub.match_num == 1], id_vars=['match_num', 'winner_name',	'winner_ht',	'winner_age',	'winner_rank',	'loser_id',	'loser_name',	'loser_ht',	'loser_age',	'loser_rank'])

   match_num     winner_name  winner_ht  ...  loser_rank   variable     value
0        1.0  Novak Djokovic      188.0  ...        91.0  winner_id  104925.0
1        1.0  Novak Djokovic      188.0  ...        91.0    minutes       NaN

[2 rows x 12 columns]

In [304]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'winner_rank', 'winner_rank_points', 'loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'loser_rank', 'loser_rank_points', 'score', 'best_of',
       'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced'],
      dtype='object')

In [307]:
def process_match(series):
    # Define the columns to keep as ID variables
    id_vars = ['match_num', 'tourney_name', 'surface', 'tourney_date', 'minutes']

    # Define the columns to melt into a single variable
    value_vars = ['winner_id', 'winner_name', 'winner_ht', 'winner_age', 'winner_rank', 
                'loser_id', 'loser_name', 'loser_ht', 'loser_age', 'loser_rank']

    # Use the melt function to transform the dataframe
    melted_df = pd.melt(series.to_frame().T, id_vars=id_vars, value_vars=value_vars, var_name='type')

    # Split the 'type' column into separate columns
    melted_df[['player', 'stat']] = melted_df['type'].str.split('_', expand=True)

    types = {
        'match_num': float,
        'minutes': float,
        'tourney_name': str, 
        'surface': str, 
        'type': str,
        'value': object,
        'player': str,
        'stat':str
    }
    melted_df['tourney_date'] = pd.to_datetime(melted_df['tourney_date'])
    melted_df = melted_df.astype(types)
    
    # Pivot the dataframe to reshape it into the desired format
    pivoted_df = melted_df.pivot(index=['match_num', 'tourney_name', 'surface', 'tourney_date', 'minutes', 'player'], 
                                 columns='stat', values='value')

    # # Reset the index of the pivoted dataframe
    pivoted_df = pivoted_df.reset_index()

    # # Rename the columns to match the desired output
    pivoted_df = pivoted_df.rename(columns={
        'id':'id_player',
        'player': 'id'
    })

    pivoted_df[['tourney_name', 'surface', 'tourney_date', 'match_num', 'id', 'name', 'ht', 'age', 'rank', 'minutes']]

    types={
        'match_num': int,
        'id': str,
        'name': str,
        'ht': float,
        'age': float,
        'rank': float,
        'minutes':float,
        'tourney_name': str, 
        'surface': str,
    }

    pivoted_df['tourney_date'] = pd.to_datetime(pivoted_df['tourney_date'])
    # Return the resulting dataframe
    return pivoted_df.astype(types)

In [308]:
process_match(sub_qf.iloc[2])

stat  match_num tourney_name surface  ... id_player                name  rank
0           123      US Open    Hard  ...  104731.0      Kevin Anderson  14.0
1           123      US Open    Hard  ...  104527.0  Stanislas Wawrinka   5.0

[2 rows x 11 columns]

In [188]:
# # Initialize the list of transformed DataFrames with a fixed length
# transformed_dfs = [None] * (len(sub_df))

# # Apply the function to each row of the DataFrame and collect the resulting DataFrames in the list
# i = 0
# def collect_transformed_rows(transformed_rows):
#     global i
#     transformed_dfs[i] = transformed_rows
#     i += 1

# sub_df.apply(lambda row: collect_transformed_rows(process_match(row)), axis=1)

# # Concatenate the transformed DataFrames into a single DataFrame
# final_df = pd.concat(transformed_dfs, ignore_index=True)

In [309]:
i = 0

def process_year(dataframe, tourney_name='all'):

    if tourney_name != 'all':
        dataframe = dataframe[dataframe.tourney_name == tourney_name]

    # Initialize the list of transformed DataFrames with a fixed length
    transformed_dfs = [None] * (len(dataframe))

    # Apply the function to each row of the DataFrame and collect the resulting DataFrames in the list
    
    def collect_transformed_rows(transformed_rows):
        global i
        transformed_dfs[i] = transformed_rows
        i += 1
 
    dataframe.apply(lambda row: collect_transformed_rows(process_match(row)), axis=1)

    # # Concatenate the transformed DataFrames into a single DataFrame
    final_df = pd.concat(transformed_dfs, ignore_index=True)

    return final_df

data = process_year(dataframe=df)

In [310]:
data

stat   match_num     tourney_name surface  ... id_player             name   rank
0              1          US Open    Hard  ...  103297.0         Alex Kim  432.0
1              1          US Open    Hard  ...  101736.0     Andre Agassi    1.0
2              2          US Open    Hard  ...  103292.0    Gaston Gaudio   26.0
3              2          US Open    Hard  ...  103096.0   Arnaud Clement   37.0
4              3          US Open    Hard  ...  103082.0  Markus Hantschk   92.0
...          ...              ...     ...  ...       ...              ...    ...
17521        224  Australian Open    Hard  ...  103819.0    Roger Federer   17.0
17522        225  Australian Open    Hard  ...  105777.0  Grigor Dimitrov   15.0
17523        225  Australian Open    Hard  ...  104745.0     Rafael Nadal    9.0
17524        226  Australian Open    Hard  ...  104745.0     Rafael Nadal    9.0
17525        226  Australian Open    Hard  ...  103819.0    Roger Federer   17.0

[17526 rows x 11 columns]

In [303]:
data.match_num.value_counts()

114    138
113    138
100    138
101    138
102    138
      ...
157     10
156     10
155     10
154     10
226     10
Name: match_num, Length: 226, dtype: int64

In [ ]:
aÃ±o, torneo, nombre, edad,altura, ranking_ATP_inicial, minutos_jugados_acumulado_hist,
pj_acum_historicos, pg_acum_historico, pp_acum_historico, titulos_ganados_acum, ultima_modificacion, posicion_final, score